@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Manrope:wght@800&family=Shizuru&display=swap");

.nav-bar {
  /* width: 100vw; */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: "Hubballi", cursive;
  position: fixed;
  width: 100vw;
}

#dark {
  background: hsl(209, 23%, 22%);
  color: white;
}
#white {
  background: hsl(0, 0%, 98%);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.nav-bar_heading {
  font-size: 20px;
  /* color: white; */
}

.nav-bar_iconText {
  /* color: white; */
  font-size: 16px;
}

.nav-bar_iconText > #icon-white {
  color: white;
  cursor: pointer;
}

.nav-bar_iconText > #icon-dark {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .nav-bar_heading {
    font-size: 16px;
  }
}
