/* two containers for white an dark mode  */

.container-dark {
  background: hsl(207, 26%, 17%);
  min-width: 100vw;
  min-height: 100vh;

  // overflow: hidden;
}

.container-white {
  background: hsl(0, 0%, 98%);
  min-height: 100vh;
  min-width: 100vw;
}

/* end of second container */

#dark {
  color: white;
}
#white {
  color: black;
  // background: hsl(0, 0%, 98%);
}

.search-select {
  width: 80vw;
  margin: 2rem auto;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.select {
  padding: 0.6rem;
  width: 15vw;
  outline: none;
  border: none;
}

.select > option {
  padding: 0.6rem;
}
