@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Manrope:wght@800&family=Shizuru&display=swap");



.nav-bar {
  width: 100vw;
  background: hsl(209, 23%, 22%);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: 'Hubballi', cursive;

}

.nav-bar_heading {
  font-size: 20px;
  color: white;
}

.nav-bar_iconText {
  color: white;
  font-size: 16px;
}

.nav-bar_iconText > #icon-white {
  color: white;
  cursor: pointer;
}

.nav-bar_iconText > #icon-dark {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
 
  .nav-bar_heading{
      font-size: 16px;
  }
}
